.event-container {
    padding-top: 50px;
    margin: 0 auto;
    box-sizing: border-box;
}

.event-show {
    margin: 0;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);  
    width: 700px;
}

.event-header {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
